{{extend 'layout.html'}}
<div class="py-5" >
    <div class="container">
        <div class="row text-center">
        <div class="mx-auto col-md-8">
          <h1 class="mb-3">Relação de Clientes</h1>
          <p class="lead">{{=empresa.razaosocial}}</p>
        </div>
      </div>
        <div class="row border mb-2 " id="noprint">
            <div class="col-md-6">
                <a class="btn btn-primary my-2" href="{{=URL('acs_sistema','index')}}">
                    <i class="fa fa-navicon fa-fw"></i>&nbsp;Inicio
                </a>
                <a class="btn btn-primary my-2" href="{{=URL('acs_clientes','cadastrar')}}">
                    <i class="fa fa-user-plus fa-fw"></i>&nbsp;Cadastrar Cliente 
                </a>
            </div>
            <div class="col-md-6">
                <div class="form-group row m-2">
                    <input type="text" class="form-control col-9 col-form-label ml-2" name="busca" placeholder="Pesquisa Nome/CPF" id="input"/>
                    <div class="col-2">
                        <button class="btn btn-primary botao " id="bt" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{if len(rows)==0:}}
            <center>
            <marquee>
                Você não possui nem um cliente cadastrado
            </marquee>
                </center>
            {{pass}}
      <div class="row border">
            
            {{for row in rows:}}
        <div class="col-md-6">
          <div class="card text-center m-1 border">
            <div class="card-header">
              <h5 class="card-title">{{if row.tipo=="Física":}}<i class="fa fa-user-o fa-fw fa-1x py-1" ></i>{{else:}}<i class="fa fa-institution fa-fw fa-1x py-1" ></i> {{pass}} {{=row.razaosocial_nome}}</h5>
            </div>
            <div class="card-body">
                
                {{row.cpf=row.cpf.replace(".","").replace("-","").replace("/","")}}
                {{row.update_record()}}
                {{if len(row.cpf)>11:}}
                {{row.cpf=""+(row.cpf)[0:2]+"."+(row.cpf)[2:5]+"."+(row.cpf)[5:8]+"/"+(row.cpf)[8:12]+"-"+(row.cpf)[12:14]}}
                {{row.tipo='Jurídica'}}
                {{else:}}
                {{row.cpf=""+(row.cpf)[0:3]+"."+(row.cpf)[3:6]+"."+(row.cpf)[6:9]+"-"+(row.cpf)[9:11]}}
                {{row.tipo='Física'}}
                {{pass}}
              <h5 class="card-title">{{=row.cpf}}</h5>
                {{row.telefone=(row.telefone).replace("(", "").replace(")", "").replace("-", "")}}
                {{row.telefone="("+(row.telefone)[0:2]+")"+(row.telefone)[2:6]+"-"+(row.telefone)[6:11]}}
                {{row.celular=(row.celular).replace("(", "").replace(")", "").replace("-", "")}}
                {{row.celular="("+(row.celular)[0:2]+")"+(row.celular)[2:7]+"-"+(row.celular)[7:11]}}
                <p>
                    
                <a  target="_blank" href="tel:+55-{{=row.telefone}}"  id="noprint">
                    <i class="fa fa-fw fa-1x py-1 fa-phone" ></i>
                    {{=row.telefone}}
                </a>
                <a  target="_blank" class="text-success" href='https://api.whatsapp.com/send?phone=55{{=row.celular.replace("(", "").replace(")", "").replace("-", "")}}'>
                    <i class="fa fa-fw fa-1x py-1 fa-whatsapp" ></i>
                    {{=row.celular}}
                </a>
                </p>
                {{if row.q_parcelas_atrasadas>0:}}
                <p class="text-danger">{{=row.q_parcelas_atrasadas}} Parcelas em Atraso | {{=row.valor_debito}} Total</p>
                {{else:}}
                <p>Cliente está em dias</p>
                {{pass}}

                {{if usuario.tipo!="Usuario":}}
                <p>{{=row.q_parcelas_aguardadas}} Parcelas Aguardando | {{=row.valor_aguardando}} Total </p>
                {{pass}}
                
                {{row.cpf=row.cpf.replace(".","").replace("-","").replace("/","")}}
                {{cpf = [int(char) for char in row.cpf if char.isdigit()]}}
                {{for i in range(9, 11):}}
                {{value = sum((cpf[num] * ((i+1) - num) for num in range(0, i)))}}
                {{digit = ((value * 10) % 11) % 10}}
                {{if digit != cpf[i]:}}
                  {{aviso=False}}
                      {{else:}}
                
                  {{aviso=True}}
                    {{pass}} {{pass}}
              {{if aviso:}}
                <h3>
                    <a href="{{=URL('acs_clientes','atualizar_status_imoveis', args=row.id)}}" class="btn btn-primary">Acessar</a>
                </h3>
                {{else:}}
                <h3 class="text-danger">
                    <a href="{{=URL('acs_clientes','alterar', args=row.id)}}" class="btn btn-danger">CPF ERRADO</a>
                </h3>
                {{pass}}
                
            </div>
          </div>
        </div>
                {{row.cpf=row.cpf.replace(".","").replace("-","").replace("/","")}}
                {{row.update_record()}}
            {{pass}}
      </div>
<div class="row">
          <div class="col-md-12">
            <nav aria-label="Navegação de página exemplo">
  <ul class="pagination justify-content-end">
        {{ if pagina != 1: }}
        <li class="page-item">
            <a class="btn btn-outline-primary m-1" href="{{ =URL(args=pagina-1) }}">
                <i class="fa fa-fw fa-arrow-left"></i>
                Anterior&nbsp;</a>
        </li>
        {{ pass }}

        {{ if pagina != paginas: }}
        <li class="page-item">
             <a class="btn btn-outline-primary m-1" href="{{ =URL(args=pagina+1) }}" >
                Próximo&nbsp;
                <i class="fa fa-fw fa-arrow-right"></i>
            </a>
        </li>
        {{ pass }}
    </ul>
</nav>
</div>
</div>
  </div>
  </div>

<script>
    var inputElement = document.querySelector('input[name=busca]');
    var btnElement = document.querySelector('button.botao');

    btnElement.onclick = function(){
     var busca= inputElement.value;
        window.location.href = "{{=URL('index')}}"+"/1/"+busca

    }
    $(document).keypress(function(e) {
    if(e.which == 13) {
     var busca= inputElement.value;
        window.location.href = "{{=URL('index')}}"+"/1/"+busca
    }
});
</script>
