{{extend 'layout.html'}}
<div class="py-5 text-center" >
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-12">
                <h1 class="mb-3">Relatório Despesas</h1>
                <p class="lead">{{=imovel.subtipo}} {{=imovel.tipo}}<br></p>
            </div>
        </div>
        <div class="row  mb-1">
            <div class="col-md-6 border">
                <ul class="list-group list-group-flush">
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        {{=imovel.lougradouro}} {{=imovel.numero}}
                        <i class="fa fa-circle text-muted fa-lg"></i>
                    </li>
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        {{=imovel.bairro}} {{=imovel.cep}}
                        <i class="fa fa-circle text-muted fa-lg"></i>
                    </li>
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        {{=imovel.cidade}} {{=imovel.uf}}
                        <i class="fa fa-circle text-muted fa-lg"></i>
                    </li>
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        {{=imovel.status}}
                        <i class="fa fa-circle text-muted fa-lg"></i>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        Total Recebimentos
                        <b>R$ {{="{:,}".format(round(imovel.valor_total,1)).replace(",",".")}}0</b>
                    </li>
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        Total Recebido
                        <b>R$ {{="{:,}".format(round(imovel.valor_recebido,1)).replace(",",".")}}0</b>
                    </li>
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        Total Aguardando
                        <b>R$ {{="{:,}".format(round(imovel.valor_aguardando+imovel.valor_debito,1)).replace(",",".")}}0</b>
                    </li>
                    <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                        Total Despesas
                        <b>R$ {{="{:,}".format(round(imovel.valor_desp_total,1)).replace(",",".")}}0</b>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row border mb-2 " id="noprint">
            <div class="col-md-6 text-left">
                <a class="btn btn-primary my-2" href="{{=URL('acs_imoveis','acessar',args=imovel.id)}}">
                    <i class="fa fa-navicon fa-fw"></i>&nbsp;Dados Imóveis
                </a>
                <a class="btn btn-primary my-2" href="{{=URL('cadastrar_despesa',args=imovel.id)}}">
                    <i class="fa fa-user-plus fa-fw"></i>&nbsp;Cadastrar Despesa
                </a>
            </div>
            <div class="col-md-6">
                <div class="form-group row m-1">
                    <input type="text" class="form-control col-9 col-form-label ml-2" name="busca" placeholder="Pesquisa Descrição" id="input">
                    <div class="col-2">
                        <button class="btn btn-primary botao " id="bt" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-left border-right border-top-0 border-bottom">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th >Data</th>
                                <th >Descrição</th>
                                <th >Valor</th>
                                <th>Alterar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for row in rows:}}
                                <tr>
                                    <th scope="row">
                                        {{=("{}/{}/{}".format(row.data_ocorrencia.day,row.data_ocorrencia.month,row.data_ocorrencia.year))}}
                                    </th>
                                    <td>
                                        {{=row.descricao}}
                                    </td>
                                    <td>
                                        R$ {{="{:,}".format(round(row.valor,1)).replace(",",".")}}0
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="{{=URL('alterar_despesa',  args=row.id)}}">
                                            <i class="fa fa-fw fa-1x py-1 fa-pencil"></i> 
                                            Alterar
                                        </a>
                                    </td>
                                </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var inputElement = document.querySelector('input[name=busca]');
    var btnElement = document.querySelector('button.botao');

    btnElement.onclick = function(){
     var busca= inputElement.value;
        window.location.href = "{{=URL('despesas')}}"+"/1/"+busca

    }
    $(document).keypress(function(e) {
    if(e.which == 13) {
     var busca= inputElement.value;
        window.location.href = "{{=URL('despesas')}}"+"/1/"+busca
    }
});
</script>
